# SPRING APPLICATION
spring:
  application:
    name: Pay Token API
  config:
    name: application
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:tcp://localhost/~/test
    username: sa
    password: 1234
  h2:
    console:
      enabled: true
  #      path: /h2-console
  jpa:
    show-sql: true
  output:
    ansi:
      enabled: always

# EMBEDDED SERVER
server:
  port: 9091
  tomcat:
    max-threads: 0
    uri-encoding: UTF-8
  servlet:
    encoding:
      force: true

# Logging level
logging:
  level:
    org.hibernate.type: trace

